<div class="display-3 text-info">
    Moderator panel
</div>
<hr/>
<div class="mx-2">
    <a class="btn btn-lg btn-warning" asp-action="ShowHated"> Show questions with many dislikes </a>
    <a class="btn btn-lg btn-danger" asp-action="ShowReported">Show reported questions</a>
</div>
