<div class="display-3 text-danger">
    Admin panel
</div>
<hr/>
<a class="btn btn-lg btn-primary" asp-controller="Roles" asp-action="Index"> Manage Roles </a>

<a class="btn btn-lg btn-primary" asp-controller="Admin" asp-action="UsersList"> Manage Users </a>
