<div class="display-3 text-danger">
    Hello admin
</div>
<a class="btn btn-primary" asp-controller="Roles" asp-action="Index">
Manage Roles
</a>

<a class="btn btn-primary" asp-controller="Admin" asp-action="UsersList">
Manage Users
</a>
