@model App.Models.Tag
@if (!ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}
 
<form asp-action="AddTagToQuestion" method="post">
    <div class="form-group">
        <h1><label for="Name">Tag Name</label></h1>
        <input asp-for="Name" name="name" class="form-inline form-control-lg" />
    </div>
    <div class="form-group">
        <h1><label for="Description">Tag Description</label></h1>
        <input asp-for="Description" class="form-inline form-control-lg" />
    </div>
    <button type="submit" class="btn btn-primary">Add new tag</button>
</form>
