@model App.Models.Question

  <script src="https://cdn.tiny.cloud/1/lln68fl0oawcr3dzgh1evwbyx868q3an4wvbqevb3k19ilfx/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
  tinymce.init({
          selector:'textarea',
          plugins: [
              'advlist autolink lists link image charmap preview hr anchor pagebreak',
              'searchreplace wordcount visualblocks visualchars code',
              'insertdatetime media nonbreaking table contextmenu directionality',
              'emoticons template paste textcolor colorpicker textpattern imagetools codesample',
              'print preview paste importcss searchreplace autolink',
              'autosave save directionality code visualblocks visualchars fullscreen',
              'image link media template codesample table charmap hr pagebreak',
              'nonbreaking anchor toc insertdatetime advlist lists wordcount',
              'imagetools textpattern noneditable help charmap quickbars emoticons'
        ],
        toolbar: 'codesample | bold italic sizeselect fontselect fontsizeselect | hr alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | insertfile undo redo | forecolor backcolor emoticons | code',
        fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
        height: "350",
        menubar: false
      });
  </script>
	<h4 class="card-title mt-3 text-center">Login</h4>

	<form asp-action="Create" method="post">
        <div class="form-group input-group">
            <textarea asp-for="Text" class = "form-control editorHtml"> </textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
        </div>
        <p class="text-center">Don't have an account ?<a asp-controller="Auth" asp-action="Register">Sign In</a> </p>                                                                 
    </form>

