@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">

        <!-- Profile picture -->
        <a asp-controller="Account" asp-action="Manage">
        <img src="~/data/images/@UserManager?.GetUserAsync(User)?.Result?.ProfilePicPath"; class="img-responsive img-rounded img-thumbnail"
        style="max-height: 55px; max-width: 55px;">
        </a>

        <!-- <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name!</a> -->
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-controller="Account" asp-action="Logout">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-primary btn btn-outline-primary mr-3" asp-controller="Account" asp-action="Login">Log in</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-light btn btn-primary" asp-controller="Account" asp-action="Register">Sign up</a>
    </li>
}
</ul>
