<div class="jumbotron">
  <h1 class="display-3">Welcome !</h1>
  <p class="lead">Empowering the world to develop technology through collective knowledge.</p>
  <hr class="my-4">
  <p>Founded in 2008, domanda.q’s public platform is used by nearly everyone who codes to learn, share their knowledge, collaborate, and build their careers.</p>
  <p class="lead">
    <a asp-controller="Question" asp-action="Create" class="btn btn-primary btn-lg">Start your journey !</a>
  </p>
</div>

<!-- Quotes -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
              <div class="card-body">
                <h4 class="card-title font-italic">“It is not the answer that enlightens, but the question.”</h4>
                <p class="card-text">― Eugene Jonesco</p>
              </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
              <div class="card-body">
                <h4 class="card-title font-italic">“The only dumb question is the question that you don't ask.”</h4>
                <p class="card-text">― Paul Maccready</p>
              </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
              <div class="card-body">
                <h4 class="card-title font-italic">“The scientist is not a person who gives the right answers, he's one who asks the right questions.”</h4>
                <p class="card-text">― Claude Levi-Strauss </p>
              </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
              <div class="card-body">
                <h4 class="card-title font-italic">“I would rather have questions that can't be answered than answers that can't be questioned.” </h4>
                <p class="card-text">― Richard Feynman</p>
              </div>
            </div>
        </div>
    </div>
</div>
