@model App.Models.UserLoginDTO

<div class="card bg-light">

<div asp-validation-summary="All" class="text-danger"></div>

<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Login</h4>

	<form asp-action="Login" method="post">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
             </div>
            <input asp-for="Username" class="form-control">
        </div>

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input asp-for="Password" class="form-control">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
        </div>
        <p class="text-center">Don't have an account ?<a asp-controller="Auth" asp-action="Register">Sign In</a> </p>                                                                 
    </form>
</article>
