@model App.Models.UserRegisterDTO;
<div class="card bg-light">

<div class="text-center">
@if (!ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}
</div>

<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>

	<form asp-action="Register" method="post" enctype="multipart/form-data">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input asp-for="Username" class="form-control">
        </div>

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
             </div>
            <input asp-for="Email" class="form-control">
        </div>

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input asp-for="Password" class="form-control">
        </div>

        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input asp-for="ConfirmPassword" class="form-control">
        </div>

        <div class="form-group input-group">
            <input asp-for="ProfilePicFile" type="file" accept="image/*" class="form-control-file">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
        </div>
        <p class="text-center">Have an account? <a asp-controller="Account" asp-action="Login">Log In</a> </p>                                                                 
    </form>
</article>
